<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,400,900,100italic' rel='stylesheet' type='text/css'>
        <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 id="masthead"><a href="/"><span id="mcgee">mcgee</span><span id="davis">davis</span></a></h1>
          </div>

          {{ content }}

          <div class="footer">
            This is a repository for data recorded from a pair of bipedal primates named Christy Mcgee and Trey Davis.
          </div>
        </div>

    </body>
</html>
